*
{
    font-size: 100%;
    font-family: "Segoe UI";
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(45, 45, 45);
    color: white;
    font: 1em/1.4 "lato";
    /* background: #272822 */
}

.overlay-gradient::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(69,69,69);
    /* Color blind hate version*/
    /* background: linear-gradient(276deg, rgba(115,255,216,1) 0%, rgba(242,118,255,1) 100%); */
}

.overlay-gradient > *
{
    z-index: 1;
}

.gradient-text
{
    background: rgb(115,255,216);
    background: linear-gradient(276deg, rgba(115,255,216,1) 0%, rgba(242,118,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Apparently it's a compatability thing */
    text-fill-color: transparent;
}

.center-items
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.introduction-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}

.introduction-text p
{
    margin-top: 3%;
    margin-bottom: 3%;
}

.burger-menu input
{
    position: fixed;
    opacity: 0;
}

.background-img
{
    /* The gradient accomplishes two goals: making it transition better into the navbar and transitioning it to the rest of the page below it. */
    /* This is done by making a gradient from the colors of those elements and some more fine-tuning */
    background-image: linear-gradient(rgba(230,45,24,0.2) 80%, rgba(45,45,45,1)), url("../img/polygonal.jpg");
    /* Set a specific height */
    height: 100vh;
    width: 100vw;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.about-me .background-img
{
    background-image: linear-gradient(rgba(0,0,0,0) 80%, rgba(45,45,45,1)), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/polygonal\ about\ me.jpg");
}

.my-experience .background-img
{
    background-image: linear-gradient(rgba(0,0,0,0) 80%, rgba(45,45,45,1)), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/polygonal\ my\ experience.jpg");
}

.my-projects .background-img
{
    background-image: linear-gradient(rgba(0,0,0,0) 80%, rgba(45,45,45,1)), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/polygonal\ my\ projects.jpg");
}

.contact-me .background-img
{
    background-image: linear-gradient(rgba(0,0,0,0) 80%, rgba(45,45,45,1)), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/polygonal\ contact\ me.jpg");
}

.button
{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover
{
    background: rgba(0, 0, 0, 0.2);
}

#contact-me form
{
    padding-bottom: 4vh;
}

.grid-wrapper
{
    margin-top: 5vh;

    display: grid;

    grid-template-areas: 
        "a1"
        "a2"
        "a3"
        "a4";

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.9fr 0.2fr 1fr 0.2fr;
    
    row-gap: 10vh;
    column-gap: 0.7vw;
    padding: 2%;
    padding-bottom: 5vh;
}

.contact-me .grid-wrapper
{
    grid-template-areas: 
        "tx"
        "co"
        "mp"
        "mp";
}

#about-my-projects
{
    grid-area: he;
}

#about-me h2
{
    font-size: 25pt;
}

#radar-container
{
    grid-area: a2;
    width: 100%;
    margin: 0;

}

#radar-container img
{
    width: 100%;

    height: auto;
}

#my-projects
{
    grid-area: a3;
}

#my-projects p
{
    display: inline;
}

#my-projects h2
{
    font-size: 25pt;
    margin-top: 0;
}

#video-player-wrapper
{
    grid-area: a4;
}

#video-player-phone
{
    width: 100%;
    height: auto;
}

#video-player-desktop
{
    display: none;
}

#github-logo
{
    display: block;
    margin: 0;
    width: 100px;
    height: auto;
}

#github-logo img
{
    padding-top: 1em;
    margin: 0;
    width: 100px;
    height: auto;
}

#contact-me
{
    position: relative;
    background: rgb(69, 69, 69);
    width: 100%;
}

#contact-me h1
{
    padding-top: 20%;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 1%;
}

#contact-me h2
{
    padding-top: 10%;
    text-align: center;
    font-size: 20pt;
}

.contact-me #header-underline-wrapper
{
    padding-bottom: 3%;
}

#contact-gradient-transition
{
    position: absolute;
    width: 100%;
    height: 75px;
    top: 0;
    background: linear-gradient(rgba(45,45,45, 1), rgba(69,69,69, 0));
}

#map-container
{
    grid-area: mp;
    position: relative;
}

#map
{
    width: 100%;
    height: 100%;
    grid-area: mp;
}

#map-overlay
{
    position: absolute;
    top: 40px;
    left: 40px;
    background: rgba(0, 0, 0, 0.4);
}

#map-overlay span
{
    margin: 10px;
    color: rgb(25, 230, 209);
    margin-right: 0;    
}

#map-overlay p
{
    margin: 10px;
}


#contact-info
{
    grid-area: tx;
}

#contact-info h1
{
    font-size: 25pt;
}

.contact-form
{
    grid-area: co;
    width: 80%;
    height: 440px;
    background: rgb(69, 69, 69);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    transform: translateX(10%);
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.contact-form h2
{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 40%;
    border-bottom: 3px solid white;
}

.contact-form input
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    color: white;
    border-bottom: 2px solid #bebed2;
}

.contact-form ::placeholder
{
    color: white;
    font-family: "Segoe UI";
}

.contact-form input:focus
{
    border-bottom: 2px solid white;
}

.contact-form p:before
{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: white;
}

.contact-form button
{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
}

.contact-form button:hover
{
    background: rgb(45,45,45);
}

.contact-form span
{
    margin: 0 5px 0 15px;
}

.center
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-me-text
{
    background: linear-gradient(270deg, #f20e0e, #fff900, #ff00f5, #00f1ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Apparently it's a compatability thing */
    text-fill-color: transparent;
    background-size: 300% 300%;
}

.rainbow-text
{
    background: linear-gradient(270deg, #f20e0e, #fff900, #ff00f5, #00f1ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Apparently it's a compatability thing */
    text-fill-color: transparent;
    background-size: 600% 600%;
    animation: AnimationName 12.5s ease infinite;
}



/* Our History Section */

.my-projects .grid-wrapper
{
    grid-template-areas: 
        "he"
        "tl";

    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr;
}



.my-projects #about-my-projects a:visited
{
    color: lightblue;
}

.my-projects #project-timeline
{
    display: none;
}

.my-projects #timeline-stack a:visited
{
    color: white;
}

.my-projects .grid-wrapper
{
    grid-template-areas: 
        "";
}

.my-projects #timeline-stack
{
    position: relative;
    grid-area: tl;
}

.my-projects #timeline-grid
{
    display: grid;

    grid-template-areas: 
        "a1"
        "a2"
        "a3"
        "a4";

    grid-template-rows: repeat(5, 0.1fr);
    grid-template-columns: 1fr;
}

.my-projects #timeline-stack #timeline
{
    width: min(1100px, 90%);
    position: relative;
}

.my-projects #timeline-stack #timeline ul li
{
    padding-left: 10%;
}

.my-projects #timeline-stack #timeline ul :nth-child(1) .container
{
    grid-area: a1;
}

.my-projects #timeline-stack #timeline ul :nth-child(2) .container
{
    grid-area: a2;
}

.my-projects #timeline-stack #timeline ul :nth-child(3) .container
{
    grid-area: a3;
}

.my-projects #timeline-stack #timeline ul :nth-child(4) .container
{
    grid-area: a4;
}


.my-projects #timeline-stack #timeline ul li > .container
{
    width: 100%;
    padding: 2em;
    
    background: linear-gradient(270deg, rgba(107,221,230,1)  0%, rgba(242,118,255,1) 100%);
    color: #fff;
    border-radius: 1em;
}

.my-projects #timeline-stack #timeline ul :nth-child(2) .container
{    
    background: linear-gradient(90deg, rgba(107,221,230,1)  0%, rgba(242,118,255,1) 100%);
}

.my-projects #timeline-stack #timeline ul :nth-child(3) .container
{    
    background: linear-gradient(270deg, rgba(107,221,230,1)  0%, rgba(242,118,255,1) 100%);
}

.my-projects #timeline-stack #timeline ul :nth-child(4) .container
{    
    background: linear-gradient(90deg, rgba(107,221,230,1)  0%, rgba(242,118,255,1) 100%);
}

.my-projects #timeline-stack #timeline ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-projects #timeline-stack #timeline li
{
    margin-bottom: 10%;
}

.my-projects #about-my-projects
{
    grid-area: he;
}


.card-grid h1
{
    grid-area: he;
}

.card-grid img
{
    width: 100%;
    height: auto;
    grid-area: im;
}

.card-grid #video-player-wrapper
{
    width: 100%;
    height: auto;
    grid-area: im;
}

.card-grid p
{
    grid-area: cp;
}


@keyframes AnimationName
{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#header-underline-wrapper
{
    height: 4px;
    margin-bottom: 3vh;
}

#header-underline
{
    width: 100px;
    height: 4px;
    background: white;
}



#triangle-transition
{
    display: none;
    height: 75px;
    width: 100%;
}


label
{
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

label::before
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 38, 57, 0.75);
    content: "";
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger
{
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar, label .burger::after
{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: "";
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar
{
    top: 44%;
}

label .burger::before
{
    top: 0;
    transform-origin: top left;
}

label .burger::after
{
    bottom: 0;
    transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger
{
    opacity: 0.75;
}

#menu
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


#menu::before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: rgb(255,111,72);
    background: linear-gradient(101deg, rgba(255,111,72,1) 0%, rgba(215,36,223,1) 100%);
    content: "";
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.about-me #menu::before
{
    background: rgb(188,255,150);
    background: linear-gradient(255deg, rgba(188,255,150,1) 0%, rgba(36,174,223,1) 100%);
}

.my-experience #menu::before
{
    background: rgb(217,137,51);
    background: linear-gradient(45deg, rgba(217,137,51,1) 0%, rgba(215,31,137,1) 100%);
}

.my-projects #menu::before
{
    background: rgb(255,250,58);
    background: linear-gradient(45deg, rgba(255,250,58,1) 19%, rgba(237,65,255,1) 100%);
}

.contact-me #menu::before
{
    background: rgb(107,255,214);
    background: linear-gradient(103deg, rgba(107,255,214,1) 8%, rgba(242,118,255,1) 100%);
}



@media (min-width: 40em)
{
    #menu::before
    {
        width: 40em;
    }
}

#menu a
{
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}



#menu a:nth-child(1)
{
    transition-delay: 0s, 100ms;
}
#menu a:nth-child(2)
{
    transition-delay: 0s, 150ms;
}
#menu a:nth-child(3)
{
    transition-delay: 0s, 200ms;
}
#menu a:nth-child(4)
{
    transition-delay: 0s, 250ms;
}
#menu a:nth-child(5)
{
    transition-delay: 0s, 300ms;
}
#menu a:nth-child(6)
{
    transition-delay: 0s, 350ms;
}

#menu img
{
    transform: translateX(-1000%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s, 400ms;
    object-fit: cover;
    height: 20%;
    width: auto;
    margin-left: 25%;
}

#menu a:hover, #menu a:focus
{
    color: black;
}

main
{
    overflow: hidden;
}

main .content
{
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id=navcheck]:checked + label::before
{
    opacity: 1;
    pointer-events: auto;
}

[id=navcheck]:checked + label .burger::before, [id=navcheck]:checked + label .burger::after
{
    width: 141.42%;
}

[id=navcheck]:checked + label .burger::before
{
    transform: rotate(45deg) translateY(-50%);
}

[id=navcheck]:checked + label .burger::after
{
    transform: rotate(-45deg) translateY(50%);
}

[id=navcheck]:checked + label .burger .bar
{
    transform: scale(0.1);
}

[id=navcheck]:checked ~ #menu
{
    transform: translateX(0);
}

[id=navcheck]:checked ~ #menu::before
{
    transform: skewX(15deg) translateX(-20%);
}

[id=navcheck]:checked ~ #menu a
{
    transform: translateX(0);
}

[id=navcheck]:checked ~ #menu img
{
    transform: translateX(0);
}

[id=navcheck]:checked ~ main .content
{
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
}

/* helper */
.visuallyhidden
{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

main
{
    background: #3498db;
    padding: 5% 0;
}

article
{
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
}

@media (min-width: 60em)
{
    article
    {
        width: 50%;
    }
}

.navbar
{
    display: none;
}

.nav-links
{
    display: none;
}





/* Desktop, > 768 px */
@media only screen and (min-width: 48em)
{
    .my-projects #about-my-projects
    {
        grid-area: he;
    }

    .my-projects #timeline-stack
    {
        display: none;
    }

    .my-projects #project-timeline
    {
        display: block;
        grid-area: tl;
        margin-left: 15%;
        width: 75vw;
        background-color: rgb(45, 45, 45);
        padding: 3em;
    }

    .my-projects header h1
    {
        margin-bottom: 3%;
        margin-left: -10%;
        color: white;
        text-align: center;
    }

    .my-projects #project-timeline #timeline h1
    {
        margin: 0;
        font-size: 2.25rem;
        font-weight: 400;
    }

    .my-projects #project-timeline #timeline p
    {
        margin-bottom: 0;
    }

    .my-projects #project-timeline #timeline header
    {
        position: absolute;
        top: -5%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .my-projects #project-timeline #timeline header h3
    {
        transition: all 0.5s ease;
    }

    .my-projects #project-timeline #timeline
    {
        width: min(1100px, 90%);
        position: relative;
    }

    .my-projects #project-timeline #timeline::before
    {
        content: '';
        position: absolute;
        left: 50%;
        height: 100%;
        width: 2px;

        background-color: rgb(131,238,221);
        transform: translateX(-50%);
    }

    .my-projects #project-timeline #timeline ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .my-projects #project-timeline #timeline ul li
    {
        width: 100%;
    }

    .my-projects #project-timeline #timeline ul li+li
    {
        margin-top: 1.25em;
    }

    .my-projects #project-timeline #timeline ul li > .container
    {
        width: min(80ch, 50%);
        padding: 2em;
        
        color: #fff;
        background: #111;
        border-radius: 1em;
    }

    .my-projects #project-timeline #timeline ul li:nth-child(odd) > .container 
    {
        margin-right: auto;
        transform: translateX(-2em);
        border-top-right-radius: 0;
    }

    .my-projects #project-timeline #timeline ul li:nth-child(odd) > .container::before
    {
        border-radius: 1em 0 1em 1em;
    }

    .my-projects #project-timeline #timeline ul li:nth-child(even) > .container
    {
        margin-left: auto;
        transform: translateX(2em);
        border-top-left-radius: 0;
    }

    .my-projects #project-timeline #timeline ul li:nth-child(even) > .container::before
    {
        border-radius: 0 1em 1em 1em;
    }

    .my-projects #project-timeline #timeline ul li > .container::before
    {
        border-radius: 1em;
        z-index: -1;
    }

    .my-projects #project-timeline #timeline ul li > .container::after
    {
        content: "";
        position: absolute;
        top: 0;
        height: 18px;
        width: 18px;

        border-radius: 50%;
        border: 2px solid rgb(131,238,221);
        background: #fff;

        transition: all 0.5s ease;
    }

    .my-projects #project-timeline #timeline ul li:nth-child(odd) > .container::after
    {
        right: -2em;
        transform: translate(50%, -100%);
    }

    .my-projects #project-timeline #timeline ul li:nth-child(even) > .container::after
    {
        left: -2em;
        transform: translate(-50%, -100%);
    }

    .my-projects #project-timeline #timeline ul li > .container:hover::after
    {
        background: rgb(131,238,221);
    }

    .my-projects #project-timeline #timeline ul li > .container:hover header h3
    {
        font-weight: 700;
        font-size: 1.25rem;
    }

    .my-projects #project-timeline a:visited
    {
        color: white;
    }

    .my-projects .card-grid
    {
        width: 100%;
        display: grid;
        grid-template-areas: 
            "he"
            "im"
            "cp";

        grid-template-rows: 0.3fr 0.3fr 0.5fr;
        grid-template-columns: 1fr;
    }

    #contact-me h2
    {
        padding-top: 1%;
    }

    .contact-me #header-underline-wrapper
    {
        padding-bottom: 4%;
    }


    #contact-gradient-transition
    {
        display: none;
    }

    #triangle-transition
    {
        display: block;
    }

    #contact-me h1
    {
        padding-top: 0;
    }

    #contact-me form
    {
        padding-bottom: 4vh;
    }

    #video-player-phone
    {
        height: 100%;
        display: none;
    }

    #video-player-desktop
    {
        width: 100%;
        height: auto;
        display: block;
    }

    .grid-wrapper
    {
        grid-template-areas: 
            "a1 a2"
            "a3 a4";

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.7fr 0.7fr;
    
    }

    .about-me .grid-wrapper
    {
        grid-template-areas: 
            "a1 a2"
            "a4 a3";
    }

    .contact-me .grid-wrapper
    {
        grid-template-areas: 
            "tx mp"
            "co mp";
    }

    #radar-container
    {
        width: 100%;
        height: auto;
        margin-top: 20%;
    }

    .about-me #radar-container
    {
        margin-top: 50%;
    }

    #radar-container img
    {
        
        width: 100%;
        height: auto;
    }

    .burger-menu
    {
        display: none;
    }

    .navbar
    {
        background: linear-gradient(169deg, rgba(245,69,53,0.6446953781512605) 0%, rgba(172,82,3,0.6699054621848739) 58%, rgba(252,176,69,0.5242471988795518) 100%);
        display: block;
        background-color: #d62956;
        width: 100%;
        position: fixed;
        height: 8%;
        z-index: 10; /* Make sure that the navbar is always in front */
    }

    .about-me .navbar
    {
        background-image: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(92,47,93,1) 35%, rgba(47,93,92,1) 100%);;
        background-color: rgb(93,47,78);
    }
    
    .my-experience .navbar
    {
        background: rgb(15,1,24);
        background: linear-gradient(162deg, rgba(15,1,24,1) 0%, rgba(235,49,12,1) 100%);
    }

    .my-projects .navbar
    {
        background: rgb(252,248,255);
        background: linear-gradient(28deg, rgba(252,248,255,1) 0%, rgba(198,7,250,1) 100%);
    }

    .contact-me .navbar
    {
        background: rgb(102,0,255);
        background: linear-gradient(28deg, rgba(231,255,86,1) 0%, rgba(102,0,255,1) 100%);        
    }


    .nav-links
    {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin: auto;
        width: 100%;
    }

    .nav-links li
    {
        display: flex;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        height: 100%;
        text-align: center;
    }

    .nav-links a
    {
        height: 100%;
        width: 100%;
        color: #f2f2f2;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 24px;
    }

    .nav-links .current-tab
    {
        background-image: linear-gradient(rgba(69,69,69,0.5), rgba(69,69,69,0.5));
    }

    .about-me .nav-links .current-tab
    {
        background-image: linear-gradient(rgba(200,200,200,0.6), rgba(200,200,200,0.6));
    }

    .my-experience .nav-links .current-tab
    {
        background-image: linear-gradient(rgba(200,200,200,0.6), rgba(200,200,200,0.6));
    }

    .my-projects .nav-links .current-tab
    {
        background-image: linear-gradient(rgba(200,200,200,0.6), rgba(200,200,200,0.6));
    }

    .contact-me .nav-links .current-tab
    {
        background-image: linear-gradient(rgba(200,200,200,0.6), rgba(200,200,200,0.6));
    }
    

    .nav-logo
    {
        width: 10%;
        padding: 0 2rem;
    }

    #nav-logo img
    {
        width: auto;
        height: 100%;
    }

    .nav-links li:hover, .nav-links li:hover a
    {
        color: black;
        cursor: pointer;
    }
}

/* > 960 px */
@media only screen and (min-width: 60em)
{
    .contact-me #header-underline-wrapper
    {
        padding-bottom: 3%;
    }

    .contact-form
    {
        transform: translateX(40%);
        width: 60%;
    }

    .nav-links
    {
        width: 80%;
    }

    #radar-container
    {
        margin-top: 10%;
    }

    .about-me #radar-container
    {
        margin-top: 60%;
    }
}


/* > 1280 px */
@media only screen and (min-width: 80em)
{
    .contact-me #header-underline-wrapper
    {
        padding-bottom: 2%;
    }

    .nav-links
    {
        width: 60%;
    }

    #radar-container
    {
        margin-top: 0;
    }

    .about-me #radar-container
    {
        margin-top: 10%;
    }

    #radar-container img
    {
        content: url("../img/Skill\ radar.jpg");
    }
}


@media only screen and (aspect-ratio: 280/653)
{
    [id=navcheck]:checked ~ #menu::before
    {
        transform: skewX(15deg) translateX(-110px);
    }
}

